<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header class="bg-teal-500 text-white p-4 flex justify-between items-center">
        <div class="flex-grow text-center">
            <a href="/" class="text-2xl" style="cursor: pointer;">MetaForm</a>
        </div>
        {% if user.is_authenticated %}
            <a href="/logout/" class="hover:text-teal-300">Logout</a>
        {% endif %}
    </header>
    

    <div>
        {% block main %}{% endblock main %}
    </div>

    <footer class="fixed inset-x-0 bottom-0 bg-teal-500 text-white text-center p-4">
        <p>&copy; 2023 MetaForm</p>
    </footer>
    
    {% block script %}{% endblock script %}
</body>
</html>