<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="bg-teal-500 text-white text-center p-4">
        <h1 class="text-2xl">Welcome to, MetaForms</h1>
    </header>

    <main class="flex justify-center items-center min-h-screen">
        {% block main %}{% endblock main %}
    </main>

    <footer class="bg-teal-500 text-white text-center p-4">
        <p>&copy; 2023 MetaForms</p>
    </footer>
    
    {% block script %}{% endblock script %}
</body>
</html>
